{% extends 'base.html' %}

{% block contenido %}
<h2>COMPRA DE CRYPTOS</h2>

<body>
    <form class='form-comprar' id='form-comprar' name='form-comprar'>
        <label for="origen">Origen:</label>
        <select id="origen" name="origen">
            {% for key, value in cartera.items() %}
            <option value="{{ key }}">{{ key }}({{ value }})</option>
            {% endfor %}
        </select>

        <br><br>

        <label for="destino">Destino:</label>
        <select id="destino" name="destino">
            {% for key in cartera.keys() %}
            {% if key != origen %}
            <option value="{{ key }}">{{ key }}</option>
            {% endif %}
            {% endfor %}
        </select>
        <br><br>
        <label for="invertido">Cantidad a Invertir:</label>
        
        <input type="number" id="invertido" name="invertido" required min="0" step="0.01">
        <span id="error-invertir"></span>
        <br><br>
        <button id="calcular" type="button" disabled>Calcular</button>
        <span id="mensaje-fondos"></span>

        <br><br>
        <label for="obtenido">Obtenido:</label>
        <output id="obtenido"></output>
        <span id='crypto-destino'></span>
        <br><br>
        <label for="unitario">Valor Unitario:</label>
        <output id="unitario"></output>
        <span id='crypto-origen'></span>
        <br><br>
        <button id="invertir" type="button" disabled>Invertir</button>
    </form>

    {% block scripts%}
    <script src="/static/js/compra.js"></script>
    {% endblock scripts %}
</body>
{% endblock contenido %}