{% extends "base.html" %}

{% block scripts%}
<script defer src="/static/js/form.js"></script>
{% endblock scripts %}

{% block contenido%}

<form novalidate id="mov-form">
  {{ form.csrf_token }}
  {{ form.id }}

  <div class="campo-formulario">
    {{ form.fecha.label }}
    {{ form.fecha }}
  </div>

  <div class="campo-formulario">
    {{ form.concepto.label }}
    {{ form.concepto() }}
  </div>

  <div class="campo-formulario">
    {% for campo in form.tipo %}
    {{ campo }}
    {{ campo.label }}
    {% endfor %}
  </div>

  <div class="campo-formulario">
    {{ form.cantidad.label }}
    {{ form.cantidad }}
  </div>

  <div class="acciones">
    {{ form.submit }}
  </div>
</form>
{% endblock contenido %}