{% extends 'base.html' %}

{% block contenido %}

<h2>ESTADO DE LA INVERSION</h2>

<body>
    <form class='form-status' id='form-status' name='form-status'>
        <label for="invertido">Invertido:</label>
        <output id="invertido"></output>
        <span class="moneda euro" style="display: none;">&euro;</span>
        <br><br>
        <label for="valorTotalCartera">Valor Actual:</label>
        <output id="valorTotalCartera"></output>
        <span class="moneda euro" style="display: none;">&euro;</span>
        <br><br>
        <label for="beneficio">Beneficio:</label>
        <output id="beneficio"></output>
        <span class="moneda porcentaje" style="display: none;">%</span>

        <br><br>
        <button id="btn-comprobar">Comprobar</button>
    </form>

{% block scripts%}
<script src="/static/js/status.js"></script>
{% endblock scripts %}

{% block estilos %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/status.css') }}">
{% endblock estilos %}

</body>

{% endblock contenido %}
